.home-button {
    color: #E8F1F2;
}

 .blog-button:hover, .fun-button:hover {
    color: hsl(209, 54%, 23%);
}


#main-intro {
    font-size: 3.5rem;
    font-family: 'Merienda One', 'Segoe UI', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#header {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #1B98E0;
}

#header-text {
    max-width: 45vw;
    text-align: center;
    font-size: 1.6rem;
    color: #13293D;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
}

.about-text {
    display: flex;
    flex-direction: column;
}

#about-photo {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: auto;
    flex-wrap: nowrap;
    align-self: right;
}

#to-top {
    align-self: center;
    margin-bottom: 40px;
}

#ratty {
    max-width: 400px;
    align-self: center;
    border-radius: 5px;
    margin-top: 20px;
}

#self {
    border-radius: 5px;
}

/* Phones */
@media (max-width: 500px) {
    #main-intro {
        font-size: 2.5rem;
    }
    #header-text {
        max-width: 80vw;
        text-align: center;
        font-size: 1.4rem;
    }
    #header {
        min-height: 220px;
    }
    #about-photo {
        align-self: center;
    }
}