#navigation {
    position: relative;
    bottom: 0;
    align-self: center;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.blog-button {
    display: flex;
    gap: 10px;
}

.current-post {
    display: inline-block;
    color: white;
    max-width: 105px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-nav {
    background-color: #a0a0a0;
    box-shadow: 1px 2px 2px #7a7a7a;
    color: #3f3f3f;
    border: 1px #1a1a1ade;
}

.no-nav:hover {
    cursor: default;
}

.home-button:hover, .blog-button:hover, .fun-button:hover {
    color: hsl(209, 54%, 23%);
}

.blog-image {
    width: 60%;
    margin-left: 25%;
    height: auto;
    border-radius: 4px;
}

ol, ul {
    margin-left: 25px;
    margin-bottom: 10px;
}